<article class="post">
    <div class="blog-title">
        <span style="font-weight: bold; margin: 10px"><a href="/blog/{{id}}">{{title}}</a></span><span style="float:right">Posted by: {{user.username}} on {{format_date created_at}}</span>
        <br>
    </div>
    <div class="blog-content">
        <p style="margin: 10px">{{content}}</p>
    </div>
</article>